/* SITE TITLE AND SEARCH BAR STYLING */
h1 {
    font-family: Futura BK, 'Times New Roman';
    font-size: 32pt;
    text-align: center;
}

body{
  background: #f2f2f2;
  padding: 20px;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchBar {
  width: 100%;
  border: 3px solid #C5C8EA;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: lightgray;
  font-family: Arial, sans-serif;
  padding-left: 1em;
}

.searchBar:focus{
  color: black;
}

.searchButton {
  width: 120px;
  height: 46px;
  border: 1px solid #C5C8EA;
  background: #C5C8EA;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
  font-family: Futura BK, Arial, sans-serif;
}

.searchButton:hover {
  background-color: #3A3A3A;
}

#searchForm{
  width: 97%;
  padding-top: 80px;
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/* MAIN DIV STYLING - PRODUCTS LISTED HERE */
.mainDiv {
  float: left;
  width: 70%;
}

.mainDiv .productItem {
  margin-left: 1.5em;
  padding: 20px;
  margin-right: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 1em;
  font-family: Futura BK;
  border: 1px solid #C5C8EA;
}

.mainDiv .productItem img {
  float: left;
  width: 30%;
  padding: 1.5em;
  height: auto;
  width: 180px;
  border-radius: 2em;
  border: #C5C8EA;
}

.mainDiv .productItem button {
  width: 120px;
  height: 30px;
  border: none;
  outline: none;
  background: #C5C8EA;
  text-align: center;
  color: #FFFFFF;
  border-radius: 1em;
  cursor: pointer;
  font-size: 17px;
  font-family: Futura BK, Arial, sans-serif;
}

.mainDiv .productItem button:hover {
  background-color: #3A3A3A;
}

.mainDiv .productItem:after {
  /* content: "";
  display: table; */
  clear: both;
}

/* RIGHT SIDEBAR STYLING - PROFILE INFO LISTED HERE*/
.rightSidebar {
  float: left;
  width: 10%;
  padding-left: 20px;
}

/* FOOTER STYLING */
footer {
  background-color: #3A3A3A;
  color: #FFFFFF;
  position: absolute;
  width: 90%;
  padding: 10px 20px;
  margin-left: 1.5em;
  margin-right: 1.5em;
  border-radius: 1em 1em 0 0;
  font-family: Futura BK;
}

footer img {
  height: 50px;
  width: auto;
  filter: invert();
}

footer p {
  margin-right: 40px;
  display: inline;
  float: left;
}

footer button {
  background-color: transparent;
  border: none;
  outline: none;
}